
@{
    ViewData["Title"] = "Index";
}

<h1>Appointment Index</h1>
<a class="btn btn-primary" asp-controller="Appointment" asp-action="AddAppointment">Add Appointmennt</a>
<a class="btn btn-success m-4" asp-controller="Appointment" asp-action="GetAllAppointmentDetails">Get All Appointment</a>
