@model ModelLayer.Models.DoctorModel

@{
    ViewData["Title"] = "AddDoctor";
}

<h1>Register of Doctor</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                @* <label asp-for="Name" class="control-label"></label> *@ 
                <input asp-for="Name" class="form-control mt-4" placeholder="Doctor Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Email" class="control-label"></label> *@
                <input asp-for="Email" class="form-control mt-4" placeholder="Enter the Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="PhoneNumber" class="control-label"></label> *@
                <input asp-for="PhoneNumber" class="form-control mt-4" placeholder="Enter your Mobile Number"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Age" class="control-label"></label> *@
                <input asp-for="Age" class="form-control mt-4" placeholder="Enter your Age"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label mt-4">Gender</label>
                @* <input asp-for="gender" class="form-control" /> *@
                @Html.RadioButton("gender", "Male", true) <span>Male</span>
                @Html.RadioButton("gender", "Female", false) <span>Female</span>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Address" class="control-label"></label> *@
                <input asp-for="Address" class="form-control mt-4" placeholder="Address"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Qualification" class="control-label"></label> *@
                <input asp-for="Qualification" class="form-control mt-4" placeholder="Qualification"/>
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label mt-4"></label>
                @* <input asp-for="Specialization" class="form-control mt-4" placeholder="Specialization"/> *@
                <select asp-for="Specialization" class="form-control">
                    <option hidden>--Select--</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Dermatology">Dermatology</option>
                    <option value="Psychiatry">Psychiatry</option>
                    <option value="General Surgery">Surgery</option>
                    <option value="Nephrologist">Nephrologist</option>
                </select>
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Experience" class="control-label"></label> *@
                <input asp-for="Experience" class="form-control mt-4" placeholder="Experience"/>
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="DoctorImage" class="control-label"></label> *@
                <input asp-for="DoctorImage" class="form-control mt-4" placeholder="DoctorImage"/>
                <span asp-validation-for="DoctorImage" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTrash" /> @Html.DisplayNameFor(model => model.IsTrash)
                </label>
            </div> *@
            <div class="form-group" align="center">
                <input type="submit" value="Create" class="btn btn-primary mt-4 mb-4"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllDoctorDetails">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
