
@{
    ViewData["Title"] = "Index";
}

<h1>Doctor Index</h1>

<a class="btn btn-warning" asp-controller="Doctor" asp-action="AddDoctor">Register for Doctor</a>
<a class="btn btn-success m-4" asp-controller="Doctor" asp-action="GetAllDoctorDetails">Get All Doctor Details</a>
